# Dependencies
node_modules
venv
.env
.env.local
.env.development
.env.test
.env.production

# Build outputs
dist
build
__pycache__
*.pyc

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
